.statistics {
    background-color: #fff;
    box-shadow: 8px 8px 29px 0px rgba(66, 68, 90, 1);
    border: 1px solid rgb(200, 200, 200);
    border-bottom: 0;
}

.title {
    color: gray;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.stat-list {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: rgb(177, 202, 226);
    border: 1px solid rgb(200, 200, 200);
}

.percentage {
    font-size: 18px;
}